    table {
        border-collapse: collapse;
        margin: 20px auto;
    }
    
    td {
        width: 15px;
        height: 15px;
        border: 1px solid rgb(136, 122, 122);
    }
    
    .red {
        background-color: red;
    }
    
    .white {
        background-color: rgb(255, 255, 255);
    }
    
    .blue {
        background-color: blue;
    }
    
    .green {
        background-color: green;
    }
    
    .yellowgreen {
        background-color: yellowgreen;
    }
    
    .brown {
        background-color: rgb(92, 37, 37);
    }
    
    .lightbrown {
        background-color: rgb(216, 151, 65);
    }
    
    .black {
        background-color: black;
    }